/*tree*/
.si-tree-wrp{
	overflow:auto; 
}
.si-tree ul{
	padding-left:14px;
	display: none;
}
.si-tree li{
	font-size:12px;
	line-height: 20px;
	white-space: nowrap;
}
.si-tree  li button{
	width:15px;
	height:15px;
	border:none;
	font-size:0;
	vertical-align:middle;
	margin-top:-1px;
}
.si-tree li .unopen{
	background:url('/Images/tree/unopen.gif') no-repeat;
}
.si-tree li .open{
	background:url('/Images/tree/open.gif') no-repeat;
	cursor:pointer
}
.si-tree  li .opened{
	background:url('/Images/tree/opened.gif') no-repeat;
	cursor:pointer
}
.si-tree  li a.current{
	background:#F7F6C3;
	font-weight:bold;
}
.si-tree  li a{
	line-height:20px;
	cursor:pointer;
	padding:2px 0;
}
.si-tree-wrp{
	padding-top:5px;
}
.si-tree{
	padding-left:5px;
	/*overflow-x:auto;
	overflow-y:hidden;*/
}
.si-wind .select-left{
	height:370px;
}
.left .si-tree-top{
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ccc;
	padding-left:15px;
}
.left .si-tree-top select{
	width:170px;

}