<div class="common-post common-post-book"><a title="Pro ASP.NET MVC 4" href="#"><img alt="Pro ASP.NET MVC 4" src="/Images/pro-aspnet-mvc-4.jpg"></a><h4><a title="Pro ASP.NET MVC 4" href="#">Pro ASP.NET MVC 4</a></h4><p>by&nbsp;Adam Freeman</p></div>
<div class="common-post common-post-book"><a title="Professional ASP.NET MVC 4" href="#"><img alt="Professional ASP.NET MVC 4" src="/Images/professional-aspnet-mvc_4.jpg"></a><h4><a title="Professional ASP.NET MVC 4" href="#">Professional ASP.NET MVC 4</a></h4><p>by&nbsp;Jon Galloway, Phil Haack, Brad Wilson, K. Scott Allen</p></div>
