<li><h3><a class="icon icon-link" href="#">ASP.NET MVC Overview</a></h3><p>This MSDN article explains what MVC is, how it's implemented in ASP.NET, and what its advantages are.</p></li>
<li><h3><a class="icon icon-link" href="#">MVC Project Structure</a></h3><p>This MSDN article provides a high-level overview of how ASP.NET MVC projects are structured and what files and folders the contain.</p></li>
<li><h3><a class="icon icon-whitepaper" href="#">ASP.NET MVC Content Map</a></h3><p>The ASP.NET MVC content map contains links to ASP.NET MVC topics and is frequently updated.</p></li>
