@using OnlineOrder
@using System.Collections
@using OnlineOrder.Mvc
@using OnlineOrder.Mvc.Grid
@using OnlineOrder.Mvc.Pagination
@using OnlineOrder.Website.Models
@model IPagination<Order>

@Html.Toolbar(new List<ToolbarItem>() { 
    new ToolbarItem("新增", new Hashtable(){{"class","create"}}),
    new ToolbarItem("删除", new Hashtable(){{"class","delete"}}),
    new ToolbarItem("刷新", new Hashtable(){{"class","refresh"}}),
    //new ToolbarItem("设置", new Hashtable(){{"class",""}}),
    //new ToolbarItem("打印", new Hashtable(){{"class",""}}),
}, true, Html.SiAdvancedQuery(
                Html.SiDateboxArea("OperDate", new { @operator="Between"}),
                Html.SiTextBox("Code", "单据编号",new { @operator="Contains"}),
                Html.SiUControl("Oper", "操作员", new { controller = "Accounts", @operator="Contains" }),
                Html.SiUControl("Customer", "客户", new { controller = "Customer", @operator = "Contains" }),
                Html.SiTextBoxRange("Amount", "金额",new { @operator="Between"}),
                Html.SiRadioButton("ApproveFlag", "审核状态", new Dictionary<string, object>{ 
                                                                {"未审核","0"},
                                                                {"审核","1"},
                                                                {"全部",""},
                                                            },new { @operator="Equals"}),
                Html.SiButton("confirm,cancel", new { @class = "button-line" })
            )) 

<div class="container">
	<div class="si-grid" controller="@Html.ControllerName()" action="@Html.ActionName()"> 
        @Html.Partial("_Index") 
    </div> 
</div>

<script type="text/javascript">
    $(function () {
        var grid = $('.si-grid').grid(),
            filter = $('#adv-search-panel').filters(),
            $form = $('.si-form'),
            form = $form.form();

        $('.si-btn', '.si-tbar').click(function () {
            grid.doAction($(this).attr('class').replace('si-btn ', ''));
        })
        $('tbody tr', '.si-grid[controller="Orders"]').live('dblclick', function () {
            grid.doAction('modify')
        })
        /*隐藏区域*/
        $('.si-btn', $form).on('click', function () {
            filter.doAction($(this).attr('class').replace('si-btn ', ''), grid);
        })

    });
</script>